#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98vh;
}
.font{
    font-size: 50px;
    color:black;
}
#stopWatch{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 350px;
    width: 350px;
    border-radius: 100%;
}
#Btns{
    /* border: 1px solid black; */
    padding:20px;
}
.funBtn{
    color: black;
    border:none;
    background-color: #e3e8e5;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
